<nav class="navbar navbar-light bg-light p-3" style="min-width: 200px;">
  <ul class="navbar-nav flex-column text-center w-100">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="list"
         routerLinkActive="active bg-primary text-white"
         [routerLinkActiveOptions]="{ exact: false }">
        Listado
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="add"
         routerLinkActive="active bg-primary text-white"
         [routerLinkActiveOptions]="{ exact: true }">
        Nuevo recibo
      </a>
    </li>
  </ul>
</nav>
